@import "colours";
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

body {
  font-family: 'Alegreya Sans', sans-serif;
  margin:0;
}

h1.title {
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-top: 0;
  font-size: 1.5em;
  text-align: left;
  color: white;
  float: left;
}

.logo {
    max-height: 100px;
    color: white;
    float: none;
    display: block;
    margin: 0 auto;
}

h2.subtitle {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1em;
  color: white;
}

main {
  background: lighten($color-primary-1,25);
  padding: 1em 2em;
}

.content{
  background: lighten($color-primary-0,0);
}

@media screen and (min-width: 1080px) {
  /** If the screen is large. Give it a margin */
  .content {
    margin-left: auto;
    margin-right: auto;
    width: 66vw;
  }
}

@media screen and (max-width: 1080px) {
  /** If the screen is smol. Make the text larger */
  .content {
    font-size: 2.5em;
  }

  h1.title {
    margin: 0;
    margin-left: 0.25em;
    font-size: 1.5em;
    text-align: left;
    color: white;
    float: left;
  }

  h2.subtitle {
    margin-bottom: 0.5em;
    margin-left: 0.25em;
    margin-top: 0.5em;
    font-size: 0.75em;
    color: white;
    float: left;
  }

  section{
    font-size: 0.75em;
  }

  button {
    font-size: 1em;
  }

  section {
    h2 {
      font-size: 1em;
    }
    h3 {
      font-size: 0.8em;
    }
    p {
      font-size: 0.8em;
    }
  }
}


.header{
  width: 100%;
}

.underline{
  background: $color-primary-4;
  width: 33vw;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.25em;
}

section {
  h2 {
    font-size: 1.5em;
    margin-bottom: 0;
    color:$rgba-primary-4;
  }
  h3 {
    font-size: 1.25em;
    margin-bottom: 0;
    color:$rgba-primary-4;
    margin-left: 0.5em;
  }
  p {
    font-size: 1.25em;
    margin-top: 0;
    color: $rgba-primary-3;
  }
}

button {
  background: transparent;
  border: 1px solid purple;
  color: $rgba-primary-3;
  margin-left: 5px;
  padding: 0.25em;
}

section > p {
  margin-left: 0.5em;
}

.map {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 450px;
}

button.facebook {
  color: #4267b2;
}
