<header>
    <h1 class="title">
        Team Up Dog Training
    </h1>
    <h2 class="subtitle"> Helping you and your dog become the team that you deserve to be </h2>

    <img class="header" src="{{image}}" alt="headline">
</header>
