<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="style/main.css">
<title>TeamUp - {{title}}</title>

<div class="content">
    {{> headline image="assets/images/header.jpg"}}
    <main>
        {{>body}}
    </main>
</div>


{{#unless production}}
    {{>dev}}
{{/unless}}