<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="style/main.css">
<head>
    <title>TeamUp - {{title}}</title>
    <meta property="og:url"           content="https://teamupdogtraining.co.uk" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Team Up Dog Training" />
    <meta property="og:description"   content="Helping you and your dog become the team that you deserve to be" />
    <meta property="og:image"         content="https://teamupdogtraining.co.uk/assets/images/logo.png" />
    <link rel="icon" href="assets/images/favicon.png">
</head>
<div class="content">
    {{> headline image="assets/images/header.jpg" logo="assets/logoi.svg" logo_fallback="assets/logoi.png"}}
    <main>
        <article>
            {{>body}}
        </article>
    </main>
</div>


{{#unless production}}
    {{>dev}}
{{/unless}}
